# Created by .ignore support plugin (hsz.mobi)
.idea/
/build/
/deploy/
/lib/bulma.css.map
/node_modules/
/server/server.js
/server/server.js.map
/src/js/main_page.js.map
/src/js/main_page.js
/src/js/info_page.js
/src/js/info_page.js.map
/src/js/lib.js
/src/js/lib.js.map
/src/js/layout.js
/src/js/layout.js.map
/contracts.js
/contracts.js.map
/faviconData.json
/keys.js
/cmake-build-debug/
/eos_compile.js.map
/eos_deploy.js
/eos_deploy.js.map
/eos_compile.js
/eos_restart.js
/eos_restart.js.map
/contracts_eos/testcontract/
/contracts_eos/.keep
/service/service.js.map
/service/service.js
